<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TV</title>
    <link rel="stylesheet" type="text/css" href="static/style.css"/>
    <link rel="stylesheet" type="text/css" href="static/bootstrap.min.css"/>
    <script>
        go = function(url) {
            document.getElementById('main').style.display = 'none';
            document.getElementById('spinner').style.display = 'block';
            location.href=url;
        }
    </script>
</head>
<body>
<img id="spinner" class="spinner" src="static/spinner.gif"  style="display: none" />
<div id="main" class="container-fluid">
    <div class="row" style="padding: 5px;">
        <button
                class="btn btn-danger col-12 tv-{{tv_state}} "
                onclick="go('off')"
                type="button"
        >Turn TV off</button>

    </div>
        {% for btn in buttons %}
        <button
                class="btn btn-secondary btn-tv"
                style="background-image: url(static/buttons/{{ btn['icon'] }})"
                onclick="go('button/{{ btn.id }}')"
        >&nbsp;</button>
        {% endfor %}
</div>

</body>
</html>